<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auroruspolar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminUserInactiveRequest"></activity>
        <activity android:name=".AdminUserActiveRequest" />
        <activity android:name=".AdminHistoric" />
        <activity android:name=".AdminActive" />
        <activity android:name=".LoadDatabase" />
        <activity android:name=".SaveDatabase" />
        <activity android:name=".MakeNewUser" />
        <activity android:name=".AdminViewbooks" />
        <activity android:name=".FilterByPrice" />
        <activity android:name=".EmployeeScreen" />
        <activity android:name=".EmployeeLogin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".AdminScreen" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NewAdmin" />
        <activity android:name=".NewEmployee" />
        <activity android:name=".AdminPromote" />
        <activity android:name=".AuthenticateEmployee" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UserMenu" />
        <activity android:name=".MakeNewEmployee"/>
        <activity android:name=".MakeNewAccount"/>
        <activity android:name=".CustomerListCart"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>